<br>
<input ng-model="alertSearch"  class="form-control" placeholder="Search Alert details..."></lebel>

<table class="table table-bordered ">
    <thead>
    <tr>
        <th>vin</th>
        <th>Time stamp</th>
        <th>Priority</th>
        <th>Message</th>
        <th>Location </th>
    </tr>
    </thead>
    <tr ng-repeat="alert in alertVm.alerts | filter:alertSearch" ng-class="{'HIGH': 'bg-danger' ,'LOW':'bg-success','MEDIUM':'bg-warning'}[alert.priority]">
        <td>{{alert.vin}}</a></td>
        <td>{{alert.timestamp |date:"MM/dd/yyyy 'at' h:mma"}}</td>
        <td >{{alert.priority}}</td>
        <td>{{alert.alertmsg}}</td>
        <td><a ng-href="#!/alerts/map/{{alert.alertid}}">location</a></td>
    </tr>
</table>

