
<br>
<input ng-model="readingSearch" class="form-control bg-primary" placeholder="Search Reading details...">
<table class="table table-striped ">
    <thead>
    <tr>
        <th>Vin</th>
        <th>Fuel Volume</th>
        <th>Speed</th>
        <th>Engine - HP</th>
        <th>Engine - RPM</th>
    </tr>
    </thead>
    <tr ng-repeat="reading in readingVm.readings | filter:readingSearch">
        <td><a ng-href="#!/readings/{{reading.vin}}">{{reading.vin}}</a></td>
        <td>{{reading.fuelVolume}}</td>
        <td>{{reading.speed}}</td>
        <td>{{reading.engineHp}}</td>
        <td>{{reading.engineRpm}}</td>
    </tr>
</table>

